<div class="about-me-container">
    <div class="about-me">
        <div class="about-me-text">
            <div class="headline-about-me">
                <h1>About me</h1>
            </div>

            <div class="description-about-me">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam maxime quidem aperiam, quisquam
                incidunt voluptas quasi? Soluta, doloremque eaque excepturi nobis dignissimos tempore blanditiis in, at
                nulla quasi eligendi officia.
            </div>

            <div class="specification-about-me">
                <div class="bulb-puzzle">
                    <img src="assets/img/lightbulb.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores beatae quos impedit, cumque
                        facilis nam sunt eum. Mollitia similique, officiis nisi, iusto eos cupiditate ullam vero libero
                        explicabo rerum accusantium!</p>
                </div>

                <div class="bulb-puzzle">
                    <img src="assets/img/puzzle.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolore eligendi doloribus rem
                        ab, hic dolorem! Omnis, harum earum vitae, tempore laborum enim inventore aperiam quo ex
                        consectetur eaque consequatur!</p>
                </div>

            </div>

        </div>

        <div class="about-me-picture">
            <div class="background-shadow">
                <img src="assets/img/shadow-profile-picture.png">
            </div>

            <div class="profile-picture">

            </div>

        </div>
    </div>

    <div class="shadow">
        <img src="assets/img/image-line.png">
    </div>
    
</div>