.about-me-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    padding-bottom: 150px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    z-index: 1;
}


.specification-about-me {
    display: flex;
    flex-direction: column;
}

.bulb-puzzle {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 45px;
        width: 40px;
        padding-right: 40px;
    }
}

.about-me-picture {
    max-width: 50vw;

    img {
        position: absolute;
        height: 650px;
        right: 10px;
    }
}

.image-line {
    position: absolute;
    width: 100vw !important;
    top: 500px;
}

.shadow {
    position: absolute;
    bottom: -250px;
    overflow-y: hidden;

    img {
        width: 100vw !important;
        height: 450px;
    }
}

.flyIn {
    animation: flyIn;
    animation-duration: 1s;
}

@keyframes flyIn {
    from {
        height: 1000px
    }

    to {
        height: 0px;
    }

}


@media(max-width: 1200px) {

    .about-me-text {
        width: 400px;
    }


    .bulb-puzzle {
        padding-top: 20px;
    }

    .about-me-picture {
        img {
            position: absolute;
            right: -50px;
            height: 600px;
            top: 100px;
        }
    }
}

@media(max-width: 1000px) {
    .about-me {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-me-text {
        width: 350px;
    }

    .bulb-puzzle {
        padding-top: 10px;
    }

    .about-me-picture {
        img {
            position: absolute;
            right: -60px;
            height: 550px;
            top: 100px;
        }
    }


}

@media(max-width: 850px) {
    .description-about-me {
        p {
            margin: 0;
        }
    }

    .about-me {
        padding-left: 50px;
        padding-right: 50px;
    }


    .about-me-text {
        width: 330px;
    }

    .bulb-puzzle {
        padding-top: 5px;

        p {
            margin-top: 8px;
        }

        img {
            height: 35px;
            width: 30px;
            padding-right: 20px;
        }
    }

    .about-me-picture {
        img {
            position: absolute;
            right: -10px;
            height: 450px;
            top: 60px;
        }
    }


}

@media(max-width: 750px) {
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .about-me-text {
        width: 260px;
    }

    .bulb-puzzle {
        padding-top: 8px;

        img {
            height: 32px;
            width: 28px;
            padding-right: 20px;
        }
    }

    .about-me-picture {
        img {
            position: absolute;
            right: -10px;
            height: 360px;
            top: 130px;
        }
    }

}

@media(max-width: 650px) {
    .about-me-text {
        width: 230px;
    }

    .bulb-puzzle {
        padding-top: 20px;

        img {
            height: 30px;
            width: 26px;
            padding-right: 10px;
        }
    }

    .about-me-picture {
        img {
            position: absolute;
            right: -30px;
            height: 300px;
            top: 130px;
        }
    }
}

@media(max-width: 550px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-me-text {
        width: 100%;
    }

    .bulb-puzzle {
        padding-top: 20px;

        img {
            height: 37px;
            width: 37px;
            padding-right: 10px;
        }

        .about-me-picture {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: relative;
                right: 20px;
                height: 300px;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}