<div class="about-me-container">
    <div class="about-me">
        <div data-aos="fade-right" data-aos-duration="1000" class="about-me-text">
            <div class="headline-about-me">
                <h2>About me</h2>
            </div>

            <div class="description-about-me">
                <p>Hi, i am a germen Front-end developer based in Tengen, Germany.  
                In the last months I have found my passion for coding and building software. 
                After finishing an extensive Coding School for Frontend Developers, I want to prove myself to the working world. 
                I hope to become a part of your team to build interesting software!</p> 
            </div>

            <div class="specification-about-me">
                <div class="bulb-puzzle">
                    <img src="assets/img/lightbulb.png">
                    <p>My name is Dennis Maier. I am 27 years old and 2 years ago I found software-development as my passion. I started with C#, but the Developer Akademie made me fall in love with front-end-development.</p>
                </div>

                <div class="bulb-puzzle">
                    <img src="assets/img/puzzle.png">
                    <p>Coused by my interest in coding, I am a very fast learner in programming skills, logical thinking and structured construction. I´m also a very sociable person, I can work alone as good as in teams.</p>
                </div>

            </div>

        </div>

        <div class="about-me-picture">
            <div class="background-shadow">
                <img src="assets/img/shadow-profile-picture.png">
            </div>

            <div class="profile-picture">

            </div>

        </div>
    </div>

    <div class="shadow">
        <img src="assets/img/image-line.png">
    </div>
    
</div>