<div (window:resize)="onResize($event)" class="header">
  <div class="header-name">
    Dennis
  </div>

  <div *ngIf="!mobile" class="header-navigation">
    <a href="#about-me">About me</a>
    <a href="#skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
  </div>

  <div *ngIf="mobile">
    <button mat-button [matMenuTriggerFor]="menu"><img src="assets/img/burger.png"></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>About me</button>
      <button mat-menu-item>Skills</button>
      <button mat-menu-item>Portfolio</button>
    </mat-menu>

  </div>
</div>