<div class="footer-div">
    <div class="footer">

        <div class="name-impressum">
            <h3>Dennis</h3>
        </div>

        <div>
            © Dennis Maier 2023
        </div>

        <div class="footer-icons">
            <a href="https://github.com/MaierDennis/" target="_blank"><img src="assets/img/github-logo.png"></a>
            <a href="mailto:maier.dennis@outlook.de"><img src="assets/img/mail-logo.png"></a>
            <a href="www.linkedin.com/in/dennis-maier-6b89b0265" target="_blank"><img src="assets/img/linkedIn-logo.png"></a>
        </div>



    </div>
    <div class="impressum"><a href="">Impressum</a></div>
</div>