<div class="portfolio">

    <div class="heading">
        <div class="line-heading">
            <img src="assets/img/line_blue_small.png">
            <h1>Portfolio</h1>
        </div>

        <div class="description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum maxime nulla tempore quidem ipsa ducimus deleniti necessitatibus ea eius temporibus est natus corporis a officiis quod! Consectetur, ducimus pariatur?</p>
        </div>
    </div>


    <div class="projects">
        <div class="portfolio-img"><img src="assets/img/pollo_loco_laptop.png"></div>
        <div class="portfolio-img"><img src="assets/img/join_laptop.png"></div>
        <div class="portfolio-img"><img src="assets/img/join_laptop.png"></div>
        <div class="portfolio-img"><img src="assets/img/pokedex_laptop.png"></div>
    </div>


    <div>
        <img style="position: absolute; top: 700px; z-index: -1;" src="assets/img/light_blue_shadow.png">
    </div>





</div>
