.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    max-height: 90vh;
    overflow: hidden;
}

.heading {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.message-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

.description {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-text {
    p {
        font-size: 15px;
    }
}

.headline {
    display: flex;
    align-items: center;
}

.message-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-small {
    margin-bottom: 25px;
    width: 550px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #4B47FF;
    color: rgba(252, 251, 251, 0.8);
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 15px;

    &::placeholder {
        color: white;
        font-size: 14px;
    }

    &:hover {
        border: 1px solid #00BEE8;
        cursor: pointer;
    }

    &:focus {
        outline: none !important;
        border: 1px solid #00BEE8;
    }

}


.input-big {
    margin-bottom: 20px;
    width: 550px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #4B47FF;
    color: rgba(252, 251, 251, 0.8);
    padding-left: 10px;
    box-sizing: border-box;
    resize: none;
    padding-top: 10px;
    font-size: 15px;

    &::placeholder {
        color: white;
        font-size: 14px;
    }

    &:hover {
        border: 1px solid #00BEE8;
        cursor: pointer;
    }

    &:focus {
        outline: none !important;
        border: 1px solid #00BEE8;
    }
}

.go-up-arrow {
    position: absolute;
    bottom: 50px;
    right: 100px;

    &:hover {
        cursor: pointer;
    }
}

.biggest-shadow {
    position: absolute;
    right: -400px;
    bottom: -750px;
}

@media(max-width: 1200px) {
    .heading {
        font-size: 30px;
    }

    .input-small {
        width: 450px;
    }

    .input-big {
        width: 450px;
    }
}

@media(max-width: 1000px) {
    .contact {
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact-text {
        p {
            font-size: 13px;
        }
    }

    .input-small {
        width: 400px;
    }

    .input-big {
        width: 400px;
    }
}

@media(max-width: 850px) {
    .contact {
        padding-top: 10px;
        padding-bottom: 100px;
    }

    .message-part {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .heading {
        font-size: 22px;
    }

    .description {
        max-width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }

    .headline {
        width: 400px;
        display: flex;
        justify-content: center;
    }

    .contact-text {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contact-text {
        p {
            font-size: 11px;
        }
    }
}

@media(max-width: 750px) {
    .heading {
        font-size: 20px;
    }
}

@media(max-width: 650px) {
    .contact-text {
        p {
            font-size: 10px;
        }
    }
}

@media(max-width: 550px) {

    .description {
        width: calc(100vw - 30px); 
    }

    .headline {
        width: 100%;
    }

    .input-small {
        width: calc(100vw - 30px);
    }

    .input-big {
        width: calc(100vw - 30px);
    }
}