body {
    margin: 0;
    background-color: #141d2f;
    color: white;
    width: 100vw;
    max-width: 100%;
    overflow-x:hidden;
    position: relative;

    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh; 
}


html, body { height: 100%;}
body { margin: 0;}
