<div class="introduction">
    <div class="shadow-blue">
        <img src="assets/img/shadow_blue_upper.png">
    </div>
    <div class="shadow-green">
        <img src="assets/img/shadow_green_upper.png">
    </div>


    <div class="iam-name-container">
        <div class="iAm">
            I am
        </div>

        <div class="name-container">
            <div class="name">Dennis Maier</div>
            <div class="frontend-developer">FRONTEND DEVELOPER</div>
        </div>
    </div>

    <div class="button">
        <a href="#contact">
        <button mat-raised-button style="background-color: #00BEE8;" color="primary"><p>Let´s talk!</p></button>
        </a>
    </div>

    <div class="scroll-down">
        <img src="assets/img/scroll_down.png">
    </div>

    <div class="icons-div">
        <div class="icons">
            <img class="blue-line" src="assets/img/line.png">
            <a href="https://github.com/MaierDennis/" target="_blank"><img src="assets/img/github-logo.png"></a>
            <a href="mailto:maier.dennis@outlook.de"><img src="assets/img/mail-logo.png"></a>
            <a href="https://linkedin.com/in/dennis-maier-6b89b0265" target="_blank"><img src="assets/img/linkedIn-logo.png"></a>
        </div>
    </div>

</div>